body {
    font-family: 'Poppins', sans-serif;
}

#header {
    background-image: url(images/donation13.jpg);
}

#head-area {
    color: white;
    text-align: center;
}

.donate {
    text-decoration: none;
    background-color: rgb(238, 67, 67);
    font-weight: 400;
    width: 10%;
    margin-left: 45%;

}