body {
    font-family: 'Poppins', sans-serif;
}

#header {
    background-image: url(images/donation13.jpg);
}

h2 {
    font-weight: 900;
}

#head-area {
    color: white;
    text-align: center;
}

.donate {
    text-decoration: none;
    background-color: rgb(238, 67, 67);
    font-weight: 400;
    width: 10%;
    margin-left: 45%;

}

.middle {
    text-align: center;
    margin-top: 80px;
}

.inline {
    display: inline;
    padding: 1%;
    background-color: rgb(233, 237, 240);
}

#border {
    border: 1px solid black;
    padding: 1%;
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: -15px;
}

#amount {
    color: brown;
    background-color: rgb(241, 163, 163);
}

#down {
    padding: 10px;
    background-color: lightslategrey;
    margin-left: 35%;
    margin-right: 35%;
}

.same-line {
    display: inline-block;
}

#new-font {
    color: tomato;
    font-family: 'Lobster', cursive;
}

#footer {
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-top: 80px;
}

.extra {
    display: flex;
    margin-top: 80px;
}

.extra img {
    width: 50%;
}

.contribute {
    background-color: rgb(238, 67, 67);
    margin-right: 80%;
}

#bottom {
    text-align: center;
    margin-top: 80px;
}

#email {
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    padding: 2%;
    background-color: wheat;

}

#subs {
    padding: 10px;
    background-color: rgb(238, 67, 67);
}

.donate-plan {
    display: flex;
}

.food {
    background-color: rgb(189, 255, 233);
    margin: 1%;
    padding: 10px;
}

.shelter {
    background-color: rgb(243, 188, 225);
    margin: 1%;
    padding: 10px;
}

.edu {
    background-color: bisque;
    margin: 1%;
    padding: 10px;
}

.para {
    padding-left: 3%;
    padding-right: 3%;
}